__pycache__/
*.py[cod]
*.pyo
*.pyd
env/
venv/
ENV/
*.egg
*.egg-info
dist/
build/
*.manifest
*.spec

.idea/
.vscode/

*.db
*.sqlite3

*.log

*.so
*.dylib

node_modules/
dist/
*.log
*.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
yarn.lock

*.env.local
*.env.development.local
*.env.production.local
.env